
@mixin typePanel{
  .typePanel{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    margin-top: 20px;
    
    & > h2{ // é um filho direto
      width: 95%;
    }
    
    .typeChoices{
      display: flex;
      flex-wrap: wrap; // p rodar junto com a tela
      width: 95%;
      margin-top: 10px;
      
      .form-group{
        margin: 0 5px;  // margem p os quadradinhos de opção                        //nao ficarem grudados
      }
    }
  }
}